<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_223_Group_21.Properties.Settings.Kitted_Galore_StaffConnectionString"
            connectionString="Data Source=.;Initial Catalog=&quot;Kitted Galore Staff&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>